<h1>Restaurants</h1>
<br>
  <% @restaurants.each do |restaurant| %>
    <h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3>
  <% end %>
<br>

<em><%= link_to "create",  new_restaurant_path%></em>
